.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1400px;
}

.body {
  width: 1400px;
}
.row {
  width: 1400px;
  margin-left: 0px;
}

.content {
  width: 1400px;
}

div.dc-chart {
  float: left;
}

.dc-legend {
  font-size: 13px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.label-info,
.badge-info {
  background-color: #49AFCC;
  font-size: 14px;
  padding: 5px;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.dc-chart g.deselected path {
  fill: #dadada;
}

.dc-chart rect.deselected {
  fill: #dadada;
}

.dc-chart .selected path,
.dc-chart .selected circle {
  stroke-width: 1.5;
  stroke: #a9a7a7;
  fill-opacity: 1;
}